body {
    background-color: rgb(19, 19, 19);
    margin: 0;
    font-family:Arial, Helvetica, sans-serif; 
}

header {
        background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 64px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
    }

.logo-header {
    width: 100px;
    height: 60px;
    object-fit: contain;
    padding-left: 30px;


}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 0px 5px
    
}

.profile-icon {
    /* no entiendo porque no me contiene la imagen dentro de la caja que defini */

    width: 31px;
    height: 32px;
    border-radius: 3px;
    object-fit: cover;
    padding-right: 50px;
}

.menu-list {
    display: none;
}

main {
    margin-top: 64px;
}

video-info {
    position: absolute;
    top: 50%; 
    bottom: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

h1 {
    color: white;
    font-size: 54px;
    width: 500px;
    padding-left: 35px; 
}
.botones {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px; 
    padding-left: 35px; 
}

#button-reproducir {

    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content:center;

    width: 175px;
    height: 42px;
    border-style: hidden;

    background: #FFFFFF;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    
}

button:hover{
    cursor: pointer;


}
.botones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#button-info {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content:center;

    width: 220px;
    height: 42px;
    margin-left: 20px;

    border-style: hidden;
    background: rgba(93, 93, 93, 0.70) ;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    color:#FFFFFF;

 
}

#button-sound {
    margin-right: 50px;
    border-radius: 100%;
    border: solid rgb(255, 255, 255) 2px;
    width: 42px;
    height: 42px;
    background: none;
  
}
#button-pausa {
    margin-left: 10px;
    border-radius: 100%;
    border: solid rgb(255, 255, 255) 2px;
    width: 42px;
    height: 42px;
    background: rgb(255, 255, 255);
  
}


 h2 {
     color: white;
    
 }

 .movie-display {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    
 }
 
 

