
body {
    background-color: rgb(19, 19, 19);
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 64px;
    width: 100%;

}

.logo-header {
    width: 100px;
    height: 60px;
    object-fit: contain;
    padding-left: 20px;


}

h1 {
    color: white;
    font-size: 36px;
    align-items: center;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;

}

.profile-container {
    display: flex;
    flex-direction: row;
   
}

profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
   


}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;


}

a {
    text-decoration: none;
}
 a:hover {
    color: rgb(255, 255, 255);
 }



button {
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
    font-size: 20px;
    width: 240px;
    height: 45px;
    margin-top: 20px;
    padding: 10px;
}

button:hover{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;

}

    